# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Ruby

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, v2.0 ]

jobs:
  unit-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        ruby:
          - 2.5
          - 2.6
          - 2.7
          - '3.0'
          - 3.1
          - 3.2
          - 3.3
        include:
          - os: macos-13
            ruby: 2.5
    name: Ruby ${{ matrix.ruby }} test (${{ matrix.os }})
    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - run: bundle install
    - run: bundle exec rake

  app-tests:
    name: ${{ matrix.repo }} feature specs
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repo:
          - ruby-app
          - ruby-bare
          - git-ruby
          - hanami-app
          - rails-app
          - rspec-rails
          - rspec-ruby
          - bundler-app
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.5
          bundler-cache: true
      - run: bin/test/${{ matrix.repo }}
